body {
  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

h1 {
  font-size: xx-large;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
form input,
button {
  font-size: 1.05em;
  padding: 0.25em;
}
form button {
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 200ms ease-in;
}
form button:hover {
  background: red;
  color: white;
}
